[mysqld_multi]                                         	#启用多实例 
mysqld=/usr/local/mysql/bin/mysqld_safe            	#指定进程文件的路径
mysqladmin=/usr/local/mysql/bin/mysqladmin      	#指定管理命令路径
user = root                                   		#指定调用进程的用户

[mysqld1]                                          	#实例进程名称 ,1表示实例名称 , 如 [mysql1]
port=3307                                      		#端口号
datadir=/data3307                            		#数据库目录 ,要手动创建
socket=/data3307/mysql3307.sock              		#指定 sock 文件的路径和名称
pid-file=/data3307/mysqld.pid       			#进程 pid 号文件位置
log-error=/data3307/mysqld.err 				#错误日志位置

[mysqld2]                 
port=3308       
datadir=/data3308            
socket=/data3308/mysql3308.sock   
pid-file=/data3308/mysqld.pid       
log-error=/data3308/mysqld.err   

[mysqld3]                 
port=3309       
datadir=/data3309
socket=/data3309/mysql3309.sock   
pid-file=/data3309/mysqld.pid       
log-error=/data3309/mysqld.err   
